<% provide(:title, 'Edit container') %>
<div class="page-header">
  <h3><i class="fa fa-cube"></i> Edit container</h3>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
        	<%= bootstrap_form_for(@container) do |f| %>       
			<div class="row">
            <div class="col-md-6">
              <%= f.text_field :container_number %>
              <%= f.select :customer_id, Customer.all.collect { |c| [c.acc_name, c.id]},
                { include_blank: true, default: nil } %>
              <%= f.select :priority, options_for_select(["High", "Medium", "Low"]) %>  
      				<%= f.text_field :bay %>
          		<%= f.text_field :entry_number %>
          		<%= f.select :npi_status_id, NpiStatus.all.collect { |n| [n.name, n.id]} %>
              <div class="row">
                <div class="col-md-6">
                    <%= f.label :do_received do %>
                      D.O. Received
                      <%= f.check_box :do_received %>
                    <% end %>
                </div>
                <div class="col-md-6">
                    <%= f.label :config_received do %>
                      Configuration Received
                    <%= f.check_box :config_received %>
                    <% end %>
                </div>    
              </div>
            </div>
            <div class="col-md-6">
              <%= f.date_field :date %>
              <%= f.select :carrier_id, Carrier.all.collect { |c| [c.name, c.id]},
                { include_blank: true, default: nil } %>
              <%= f.text_field :ship_voyage %>
      				<%= f.select :door_orientation, options_for_select(["Doors Front", "Doors Rear"]) %>
              <%= f.date_field :doc_date %>
              <%= f.date_field :devan_date %>
              <%= f.select :comment_id, Comment.all.collect { |c| [c.comment_description, c.id]},
                { include_blank: true, default: nil } %>
            </div>
              <div class="col-md-12">
                <%= f.text_area :text_comment %>
              </div>
        </div> <!-- row -->
        </div>
         <div class="panel-footer text-right">
          <%= f.submit "Update Container Log", class: "btn btn-primary" %>
          <%= link_to "Cancel", containers_path, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
	</div> 
</div> 