<% provide(:title, 'Create Customer') %>
<div class="page-header">
  <h3><i class="fa fa-pencil-square-o"></i> Create New Customer</h3>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= bootstrap_form_for(@customer) do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">        
          <%= f.text_field :acc_code %>
          <%= f.text_field :acc_name %>
        </div>
        <div class="panel-footer text-right">
          <%= f.submit "Create Customer", class: "btn btn-primary" %>
          <%= link_to "Cancel", customers_path, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>  
